body {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* ............................................ */
/* .................... header ................ */
/* ............................................ */

.header {
    width: 100%;
    height: 120px;
}

.content-header {
    width: 50%;
    height: 120px;
    margin: 0 auto;
    display: flex;
}

/* LOGO */
.logo-header {
    width: 30%;
    height: 100%;
}

.logo-full {
    width: 170px;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.logo-full img {
    width: 20px;
    height: 40px;
    margin-right: 8px;
    margin-top: 10px;
}

.logo-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.667em;
}

.logo-sogan {
    color: #c2b698;
    margin-top: -10px;
}

/* NAV */
.menu-header {
    width: 70%;
    height: 100%;
}

.nav-header {
    margin-top: 35px;   
}

.nav-header ul { 
    display: flex;
    margin-left: 170px;
}   

.nav-header ul li {
    margin: 5px;
}

.menu-header-little {
    display: none;
    height: 100%;
    width: 10%;
}
/* .menu-header-little button {
    height: 40px;
    border: none;
    background-color: white;
} */

.menu-header-little i {
    font-size: 30px;
    color: #929292;
}

.menu-little {
    height: 230%;
    margin-top: 40px;
    margin-left: -117px;
    background-color: #efeeed;
    text-align: left;
    padding-right: 20px;
    display: none;
}
.menu-little ul li {
    margin-top: 20px;
}

.menu-little ul li a {
    font-size: 16px;
    color: #929292;
}

/* ................................ */
/* ............. section .......... */
/* ................................ */

.section {
    background-image: url(img/coffee_vs_tea_health_benefits_singapore_-1.jpg);
    width: 100%;
    height: 600px;
}


/* ................................ */
/* ............. main .......... */
/* ................................ */

.main {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.text-main {
    text-align: center;
}   

.text-main h5{
    color: #929292;
    margin-top: 25px;
}

.text-main h2 {
    margin-bottom: 20px;
}

/* article */
.article {
    text-align: center;
    padding: 30px;
    border:white 1px solid;
    margin-top: 10px;
    background-color: #efeeed;
    min-height: 196px;
}

.article img {
    width: 80%;
    border-radius: 50%;
}

.article h2 {
    font-size: 22px;
    margin-top: 15px;
    color: #686666;
    font-family: 'Roboto', sans-serif;
}

.article h3 {
    font-size: 16px;
    color: #929292;
}

.article button{
    margin-top: 20px;
    background-color: #efeeed;
    color: #929292;
    border: #929292 2px solid;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
}


.button-main {
    text-align: center;
    margin: 50px;
}

.button-main button {
    width: 170px;
    height: 45px;
    border: none;
    background-color: #bcdf00;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

/* ..................................... */
/* ...............section2.............. */
/* ..................................... */

.section2 {
    background-image: url(img/bg1.jpg);
    width: 100%;
    height: 500px;
    position: relative;
}

.content-section2 {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0;
}

.content-section2 h2 {
    margin-bottom: 30px;
    color: white;
}
.content-section2 h3 {
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 50%;
    color: white;
    font-family: 'Kaisei Decol', serif;
}

.content-section2 button{
    width: 200px;
    height: 45px;
    border: none;
    background-color: #bcdf00;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}


/* ................................ */
/* ............. blog ........... */
/* ................................ */

.blog {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.text-blog {
    text-align: center;
    margin-top: 20px;
}

.text-blog h5 {
    color: #929292;
}

.text-blog h2 {
    margin-bottom: 30px;
}

.content-blog {
    height: 400px;
    text-align: left;
    border:white 1px solid;
    margin-top: 10px;
    background-color: #efeeed;
    min-height: 196px;
}

.content-blog img {
    width: 100%;
}

.content-blog h3{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.content-blog h3 a {
    text-decoration: none;
    font-size: 22px;
    color: #c2b698;
}

.content-blog h4 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    margin-top: 16%;
    color: #777;
}



/* ................................ */
/* ............. footer ........... */
/* ................................ */

.footer {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.footer-contacts {
    height: 160px;
    background-color: #c2b698;
    text-align: center;
}

.footer-contacts h3 {
    padding-top: 25px;
    font-size: 20px;
    color: white;
}

.footer-contacts h4 {
    font-size: 14px;
    color: rgb(236, 236, 236);
}

.social-network-contacts i {
    margin: 10px;
    color: rgb(236, 236, 236);
    font-size: 20px;
}




/* ................ @media ............... */
@media screen and (max-width: 1000px) {
    .nav-header {
        position: relative;
        right: 30%;
    }
    .logo-header {
        position: relative;
        right: 20%;
    }

    .content-blog {
        height: 350px;
    }
}

@media screen and (max-width: 830px) {
    .nav-header {
        position: relative;
        right: 70%; 
    }
    .content-section2 {
        margin-top: -30px;
        max-width: 100%;
    }
    .content-section2 h3 {
        max-width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .content-blog {
        height: 400px;
    }
}

@media screen and (max-width: 680px) {
    .nav-header {
        display: none;
    }

    .menu-header-little {
        display: inherit;
        position: relative;
        left: 70%;
        margin-top: 40px;
    }

}

@media screen and (max-width: 500px) {
    .button-main {
        text-align: center;
    }

    .button-main button {
        width: 80px;
        height: 45px;
        font-size: 9px;
    }

    .content-section2 button {
        width: 130px;
    }

    .content-blog h3 a{
        font-size: 18px;
    }

    .content-blog h4{
        font-size: 6px;
    }

    .content-blog  {
        height: 320px;
    }
}

@media screen and (max-width: 380px) {
    .content-blog  {
        height: 270px;
    }
}


